# 缓存和临时文件
.cache/
.stm32cubemx/
.stmcube/
.stmcufinder/
*.tmp
*.bak
*~

# VS Code
**/.vscode/extensions/
**/.vscode/*.log
**/.vscode/*.log.lock
**/.vscode/c_cpp_properties.json
**/.vscode/settings.json

# 编译产物
Debug/
Release/

*.o
*.d
*.hex
*.bin
*.elf
*.map
*.lst
*.axf
*.uvguix.*
*.uvoptx

# Keil MDK 编译产物
*.crf
*.lnp
*.dep
*.htm
*.build_log.htm

# STM32CubeMX 状态文件
.mxproject
